# node
/node_modules

# docs without node
/docs/vanilla-typescript/.cache
/docs/vanilla-typescript/dist
/docs/vanilla-typescript/node_modules

# cross-platform
/release-builds

# package
package-lock.json

# parcel
/.parcel-cache
/src/js/filesaver

# dist
/dist
