@import url("font/font.css");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cyflex-body {
  height: 100vh;
  display: flex;
  border-top: 0.25px solid #66595C;
}

.right {
  float: right;
}

.cyflex-body {
    height: 100vh;
    display: flex;
    border-top: 0.25px solid #66595C;
}

.cyflex-body1 {
    border-top: 0.25px solid #66595C;
}

.text-area {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.text-area textarea {
    resize: none;
    outline: none;
    width: 100%;
    height: 33.33%;
    font-size: 18px;
    padding: 10px;
    font-family: "IBM Plex Mono", monospace;
}

.preview-area {
    flex: 1;
    width: 50%;
    display: flex;
}

.preview-area iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.cyflex-biggest {
    width: 100%;
    height: 100%;
}

/* Add a black background color to the top navigation */
.cyflex-menubar {
    background-color: black;
    overflow: hidden;
    font-family: "IBM Plex Mono", monospace;
  }
  
  /* Style the links inside the navigation bar */
  .cyflex-menubar a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
  .cyflex-menubar a:hover {
    background-color: #474042;
    color: white;
  }
  
  /* Add a color to the active/current link */
  .cyflex-menubar a.active{
    background-color: #66595C;
    color: white;
  }

  .cyflex-menubar a.right .a{
    background-color: #66595C;
    color: white;
    float: right;
}

.cyflex-border {
    border-top: 0.25px solid #66595C;
}

.dark-mode {
  background-color: black;
  color: white;
}

table {
    width: 100%;
    height: 100%;
}

.cyflex-cycode-body {
    text-align: center;
}

.cyflex-cycode-logo {
  width: 35vmin;
  height: auto;
}

.cyflex-cycode-header {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: calc(10px + 2vmin);
  color: blanchedalmond;
  background-image: linear-gradient(to bottom right, #66595C, #caa500);
}

.active-one {
  background-color: #e2d300;
  color: white;
}

.max {
  width: 100%;
  height: 100%;
}

.dragbar {
  padding: 3px;
  cursor: col-resize;
  background-color: silver;
}
